.helo-container{
    padding: 30px;
    display: grid;
    grid-template-areas: 
    "sensor-reading-cmp sensor-card-detail sensor-img-result"
    "sensor-data-cmp sensor-data-cmp sensor-data-cmp ";
    grid-area: home-main;
}