.header {
    grid-area: header;
    padding: 33px;
}

header section.container {
    justify-content: center;
    justify-self: auto;
    align-items: center;
}
.header-logo {
    height: 3em;
    width: 3em;
}
