.header {
    grid-area: 1 / 1 / 2 / 6;
    padding: 33px;
}

header section.container {
    display: flex;
    justify-content: center;
    justify-self: auto;
    align-items: center;
}
.head {
    border-radius: 10px 10px 10px 10px; /* Top left and bottom right corners rounded */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); /* Optional subtle shadow */
}