.header {
    grid-area: header;
    padding: 30px;
    z-index: 0;
}
.header_container {
    display: grid;
    grid-template-columns: 1fr 9fr;
  }

  .header-brand-logo {
    padding: 10px 70px 5px 10px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.header-logo {
    height: 2em;
    width: 2em;
    
}
.header-left
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-search{
    border-radius: 40px;
    width: 25vw;
}