.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  justify-content: center;
  width: 500px; /* adjust width as needed */
  height: 400px; /* adjust width as needed */
}

.card.modal{
  width: 400px; /* adjust width as needed */
  height: 300px; /* adjust width as needed */
}

.card-image {
  width: 450px; /* adjust image width as needed */
  height: 300px; /* adjust image height as needed */
  object-fit:contain /* maintain aspect ratio and crop if necessary */
}

.card-content.bg-criminal{
  background-color: "red";
}

.card-content.bg-not-criminal{
  background-color: "green";
}
