.data-cmp-main {
    /* Set a fixed height (adjust as needed) */
    grid-column: 1/-1;
    grid-row: 3;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 20px;
    bottom: 0;
    background-color: var(--bcgd-main);
  }

  .data-cmp-dialog-content{
    display: flex;
  }
  
  /* Add styles for responsive behavior (optional) */
  @media (max-width: 768px) {
    .data-cmp-main {
      /* Adjust styles for smaller screens */
      height: 200px;
    }
  }
  