.data-cmp-main {
    /* Set a fixed height (adjust as needed) */
    grid-column: 1/-1;
    grid-row: 2;
    height: 300px;
    background-color: var(--bcgd-main);
  }
  
  /* Add styles for responsive behavior (optional) */
  @media (max-width: 768px) {
    .data-cmp-main {
      /* Adjust styles for smaller screens */
      height: 200px;
    }
  }
  