.img-result {
    display: flex;
    margin: auto;
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.result-logo {
    width: 400px;
    height: 400px;
}