.sidebar {
  font-size: 27px;
  grid-area: sidebar;
  position: fixed;
  display: flex;
  flex: auto;
  flex-direction: column; /* Changed to ensure children stack vertically */
  height: 100vh;
  border-radius: 10px;
  z-index: 1; /* Ensure the sidebar is above other elements */
}

.nav-links li {
  color: #fff;
  align-items: center;
  
  justify-content: center;
  list-style: none; /* Remove list item bullets */
  /* Adjust padding as needed, ensure it's clickable */
  padding: 20px 10px;
}

.nav-links li:hover {
  color: #fff;
}

.nav-links{
  display: grid;
  grid-template-columns: 1fr;
}


.nav-links a {
  text-decoration: none;
  color: #fff;
  display: flex; /* Make the link fill the list item */
  justify-content: center;
  transition: 0.3s;
}

.active-link {
  height: auto;
  width: auto;
  background-color: #003973;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.nav-links a:hover {
  color: #ffffff;
  background-color: #003973;
  border-radius: 10px;
}