#root {
  max-width: 100vw;
  max-height: 100vh;
}

/* index.css */
.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 9fr; /* Sidebar width and main content width */
  grid-template-rows: auto auto auto; /* Heights for header, main content, and footer */
  grid-template-areas:
  "sidebar header "
  "sidebar home-main "
  "app-footer app-footer ";
}

.footer {
  grid-area: footer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .main-grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

.read-the-docs {
  color: #888;
}
